body {
    height: 100%;
    font-family: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial, sans-serif;
    margin-left: 15%;
    margin-right: 15%;
}

.site-header {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 35px;
    text-align: center;
    background: navy;
    color: whitesmoke;
    padding: 10px;
}

