<div class="booking-page">
  <h2>Welcome Jane Smith</h2>
  <p>Choose the service that you wish to use, then find the time that suits you</p>
  <div class="booking-selector">
    <md-tabs md-dynamic-height
             md-border-bottom>
      <md-tab label="Treatment - {{ctrl.selectedTreatment.name}}">
        <md-content class="md-padding">
          <div class="list-header">
            <span>Treatment - {{ctrl.selectedTreatment.name}}</span>
          </div>
          <div class="panel-body">
            Choose the treatment that you wish to have done
            <ul>
              <li class="panel-item"
                  ng-repeat="treatment in ctrl.treatments"
                  ng-click="ctrl.treatmentSelected(treatment)">
                <span>{{treatment.name}}</span>
              </li>
            </ul>
          </div>
        </md-content>
      </md-tab>
      <md-tab label="Package - {{ctrl.selectedPackageName}}">
        <md-content class="md-padding">
          <div class="list-header">
            <span>Package - {{ctrl.selectedPackageName}}</span>
          </div>
          <div class="panel-body">
            Choose the pcakge that you wish to use
            <ul>
              <li ng-repeat="package in ctrl.packages"
                  ng-click="ctrl.packageSelected(package)">
                <span class="panel-item">Price £{{package.price | number}}</span>
              </li>
            </ul>
          </div>
        </md-content>
      </md-tab>
      <md-tab label="When - {{ctrl.selectedTimeName}}">
        <md-content class="md-padding">
          <div class="list-header">
            <span>When - {{ctrl.selectedTimeName}}</span>
          </div>
          <div class="panel-body">
            Choose the date and time that you wish to book
            <div class="time-element">
              <label for="dateEntry">Pick date</label>
              <md-datepicker id="dateEntry"
                             ng-model="ctrl.selectedDate"
                             md-placeholder="Enter date">
              </md-datepicker>
            </div>
            <div class="time-element">
              <label for="timeEntry">Pick time</label>
              <ul id="timeEntry"
                  ng-if="ctrl.selectedDate">
                <li ng-repeat="time in ctrl.times"
                    ng-click="ctrl.timeSelected(time)">
                  <span class="panel-item">{{time.timeOfDay}}</span>
                </li>
              </ul>
            </div>
          </div>
        </md-content>
      </md-tab>
    </md-tabs>
  </div>
  <md-button class="md-raised md-primary"
             ng-click="ctrl.book()"
             ng-disabled="ctrl.isBookingDisabled()">Book
  </md-button>
</div>
