.booking-page {

  .booking-list {
    list-style-type: none;
  }

  .panel-body {
    display: inline-block;
    padding: 10px;

    ul {
      list-style-type: none;

      li {
        display: inline;
      }
    }

    .panel-item {
      border-radius: 4px;
      border: solid 1px darkblue;
      padding: 5px;
      margin: 2px;
      display: inline-block;

      &:hover {
        background: lightslategray;
        cursor: pointer;
      }
    }

  }

  .button-row {
    margin-top: 40px;
  }

  .errors {
    background: red;
    color: whitesmoke;
    margin: 20px;
    padding: 10px;
    border-radius: 4px;
    border: solid 1px darkred;
  }
}