.booking-page .booking-list {
  list-style-type: none;
}
.booking-page .panel-body {
  display: inline-block;
  padding: 10px;
}
.booking-page .panel-body ul {
  list-style-type: none;
}
.booking-page .panel-body ul li {
  display: inline;
}
.booking-page .panel-body .panel-item {
  border-radius: 4px;
  border: solid 1px darkblue;
  padding: 5px;
  margin: 2px;
  display: inline-block;
}
.booking-page .panel-body .panel-item:hover {
  background: lightslategray;
  cursor: pointer;
}
.booking-page .button-row {
  margin-top: 40px;
}
.booking-page .errors {
  background: red;
  color: whitesmoke;
  margin: 20px;
  padding: 10px;
  border-radius: 4px;
  border: solid 1px darkred;
}
