<div class="booking-page">
  <h2>Welcome Jane Smith</h2>
  <p>Choose the service that you wish to use, then find the time that suits you</p>
  <div class="row booking-pane">
    <form class="col s12">
      <div class="row booking-block">
        <ul class="booking-list">
          <li class="panel">
            <div class="list-header">
              <span>Treatment - {{selectedTreatmentName}}</span>
              <img src="../../assets/down.PNG" (click)="openTreatment()" class="expander-img"
                   *ngIf="!isTreatmentVisible">
              <img src="../../assets/up.PNG" (click)="closeTreatment()" class="expander-img" *ngIf="isTreatmentVisible">
            </div>
            <div class="panel-body treatment-panel" *ngIf="isTreatmentVisible">
              <ul>
                <li class="panel-item" *ngFor="let treatment of treatments" (click)="treatmentSelected(treatment)">
                  <span>{{treatment.name}}</span>
                </li>
              </ul>
            </div>
          </li>

          <li class="panel">
            <div class="list-header">
              <span>Package - {{selectedPackageName}}</span>
              <img src="../../assets/down.PNG" (click)="openPackage()" class="expander-img" *ngIf="!isPackageVisible">
              <img src="../../assets/up.PNG" (click)="closePackage()" class="expander-img" *ngIf="isPackageVisible">
            </div>
            <div class="panel-body treatment-panel" *ngIf="isPackageVisible">
              <ul>
                <li *ngFor="let package of packages" (click)="packageSelected(package)">
                  <span class="panel-item">Price {{package.price | number}}</span>
                </li>
              </ul>
            </div>
          </li>

          <li class="panel">
            <div class="list-header">
              <span>Time - {{selectedTimeName}}</span>
              <img src="../../assets/down.PNG" (click)="openTime()" class="expander-img" *ngIf="!isTimeVisible">
              <img src="../../assets/up.PNG" (click)="closeTime()" class="expander-img" *ngIf="isTimeVisible">
            </div>
            <div class="panel-body treatment-panel" *ngIf="isTimeVisible">
              <ul>
                <li *ngFor="let time of times" (click)="timeSelected(time)">
                  <span class="panel-item">{{time.timeOfDay}}</span>
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
      <div class="row button-row">
        <div class="input-field col s12">
          <button md-raised-button color="primary" [disabled]="isBookingDisabled" (click)="book()">Book</button>
        </div>
      </div>
      <div class="errors" *ngIf="errors.length > 0">
        <div *ngFor="let error of errors">
          <span>{{error}}</span>
        </div>
      </div>
    </form>
  </div>
</div>
