.booking-page {
  .booking-pane {
    margin: auto;
    padding: 20px;
  }

  .booking-block {
    display: inline-block;
  }

  .panel {
    border: solid 1px darkgray;
    border-radius: 4px;
    padding: 5px;
    margin: 10px;
  }

  .expander-img {
    width: 16px;
    height: 16px;
    margin-left: 20px;
  }

  //.triangle {
  //  display: inline;
  //  position: absolute;
  //  margin-left: 10px;
  //
  //  polygon {
  //    fill: #1111ff;
  //  }
  //}

  .booking-list {
    list-style-type: none;
  }

  .panel-body {
    display: inline-block;
    padding: 10px;

    ul {
      list-style-type: none;

      li {
        display: inline;
      }
    }

    .panel-item {
      border-radius: 4px;
      border: solid 1px darkblue;
      padding: 5px;
      margin: 2px;
      display: inline-block;

      &:hover {
        background: lightslategray;
      }
    }

  }

  .button-row {
    margin-top: 40px;
  }

  .errors {
    background: red;
    color: whitesmoke;
    margin: 20px;
    padding: 10px;
    border-radius: 4px;
    border: solid 1px darkred;
  }
}
