<p>
  Thank you for booking that appointment
</p>
<p>
  To book another , press booking
</p>
<form class="container">
  <button md-raised-button color="primary" (click)="booking()">Booking</button>
</form>
