<div class="booked-page">
  <h2>Booked</h2>
  <p>
    Thank you for booking that appointment
  </p>
  <p>
    To book another , press booking
  </p>
  <form >
    <md-button class="md-raised md-primary" ng-click="ctrl.booking()">Booking</md-button>
  </form>
</div>